In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.utils import shuffle
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_multilabel_classification
from sklearn.multioutput import MultiOutputRegressor
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras import layers
from tensorflow.keras import regularizers
from sklearn.metrics import r2_score

C:\Users\Sandman\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Sandman\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Sandman\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Sandman\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Sandman\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Sandman\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\Sandman\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Sandman\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Sandman\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Sandman\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Sandman\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Sandman\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
Using TensorFlow backend.

In [3]:
data1 = pd.read_csv('monthly-production.csv')
data1.sample(10)

,API,Pool_Nm,RPT_DATE,DAYS_PROD,BBLS_OIL_COND,OIL_RUNS,BBLS_WTR,MCF_GAS,MCF_SOLD,FLARED,VENTED,Dt_Treat
33525,33023008570000,BAKKEN,2013-09-01 00:00:00,30,6427,6354,3117,6743,0,6743,0,2012-11-08 00:00:00
69165,33025012720000,BAKKEN,2013-07-01 00:00:00,31,2178,2159,1595,1991,1991,0,0,2011-06-04 00:00:00
141340,33053038470000,BAKKEN,2013-12-01 00:00:00,27,7436,7587,5247,6945,0,6756,0,2012-11-07 00:00:00
170046,33055001640000,BAKKEN,2014-04-01 00:00:00,30,2599,2620,588,2314,1906,0,0,2012-08-08 00:00:00
226910,33061020760000,BAKKEN,2013-01-01 00:00:00,24,5076,4999,2564,2907,0,2861,0,2012-09-15 00:00:00
76218,33025015040000,BAKKEN,2014-05-01 00:00:00,12,1400,1906,424,1481,0,1481,0,2013-05-16 00:00:00
197068,33061012240000,BAKKEN,2010-09-01 00:00:00,30,9894,9647,8161,3766,0,3766,0,2010-07-23 00:00:00
1888,33007015420000,DUPEROW,2014-02-01 00:00:00,28,565,667,5474,928,928,0,0,2013-05-23 00:00:00
47548,33025008480000,BAKKEN,2010-05-01 00:00:00,31,4423,4085,1877,1112,0,1112,0,2009-10-10 00:00:00
102916,33053029690000,BAKKEN,2011-04-01 00:00:00,30,2212,2304,233,3095,2299,795,0,2009-03-01 00:00:00

In [4]:
d1 = data1[data1.Pool_Nm == 'MADISON']
d2 = data1[data1.Pool_Nm == 'TYLER']
d3 = data1[data1.Pool_Nm == 'BIRDBEAR']
d4 = data1[data1.Pool_Nm == 'BAKKEN']
d5 = data1[data1.Pool_Nm == 'RED RIVER']
d6 = data1[data1.Pool_Nm == 'DUPEROW']
d7 = data1[data1.Pool_Nm == 'STONEWALL']
d8 = data1[data1.Pool_Nm == 'THREE FORKS']
d9 = data1[data1.Pool_Nm == 'HEATH']
d10 = data1[data1.Pool_Nm == 'SPEARFISH/MADISON']
d11 = data1[data1.Pool_Nm == 'ORDOVICIAN']
d12 = data1[data1.Pool_Nm == 'PIERRE']
d13 = data1[data1.Pool_Nm == 'MIDALE/NESSON']
d14 = data1[data1.Pool_Nm == 'WINNIPEGOSIS']
d15 = data1[data1.Pool_Nm == 'MINNELUSA']
d16 = data1[data1.Pool_Nm == 'SILURIAN']
d17 = data1[data1.Pool_Nm == 'LODGEPOLE']
d18 = data1[data1.Pool_Nm == 'BAKKEN/THREE FORKS']
d19 = data1[data1.Pool_Nm == 'DEVONIAN']
d20 = data1[data1.Pool_Nm == 'SANISH']
d21 = data1[data1.Pool_Nm == 'UnknownXML']
d22 = data1[data1.Pool_Nm == 'MISSION CANYON']
d_list = [d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12,d13,d14,d15,d16,d17,d18,d19,d20,d21,d22]

In [ ]:
X = data1.drop(columns=['API','Pool_Nm','RPT_DATE', 'Dt_Treat', 'FLARED', 'VENTED', 'MCF_SOLD', 'BBLS_WTR' ])
y = data1.drop(columns=['API','Pool_Nm','RPT_DATE', 'Dt_Treat', 'MCF_SOLD', 'DAYS_PROD', 'BBLS_OIL_COND', 'OIL_RUNS', 'MCF_GAS'])

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.multioutput import MultiOutputRegressor

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = .2)
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

knn = KNeighborsRegressor(n_neighbors = 2)
classifier = MultiOutputRegressor(knn, n_jobs = -1)
classifier.fit(X_train, y_train)
classifier.score(X_train,y_train)
#Returns a score of 0.8106289784183698

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.multioutput import MultiOutputRegressor

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = .2)
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

dtc = DecisionTreeRegressor
classifier = MultiOutputRegressor(dtc, n_jobs = -1)
classifier.fit(X_train, y_train)
classifier.score(X_train,y_train)
#Returns error, see paper for issue

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.multioutput import MultiOutputRegressor

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = .2)
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

rfc = RandomForestRegressor()
classifier = MultiOutputRegressor(rfc, n_jobs = -1)
classifier.fit(X_train, y_train)
classifier.score(X_train,y_train)
#Returns a score of 0.9398846155864967

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

def multi_run_knn_2(list):
    score_list = []
    for i in range(len(list)):
        X = list[i].drop(columns=['API','Pool_Nm','RPT_DATE', 'Dt_Treat', 'FLARED', 'VENTED', 'MCF_SOLD', 'BBLS_WTR' ])
        y = list[i].drop(columns=['API','Pool_Nm','RPT_DATE', 'Dt_Treat', 'MCF_SOLD', 'DAYS_PROD', 'BBLS_OIL_COND', 'OIL_RUNS', 'MCF_GAS'])
    
        X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = .2)
        scaler = StandardScaler()
        scaler.fit(X_train)
        X_train = scaler.transform(X_train)
        X_test = scaler.transform(X_test)

        knn = KNeighborsRegressor(n_neighbors = 2)
        classifier = MultiOutputRegressor(knn, n_jobs = -1)

        sum_score = 0
        for i in range(50): #Run 50 times to get an average score
            classifier.fit(X_train, y_train)
            i_score = classifier.score(X_test, y_test)
        sum_score += i_score

    score = sum_score/50
    score_list.append(score)

    return score_list

knn_2 = multi_run_knn_2(d_list)
knn_2
'''Returns array [0.6245446050787142,
 0.8355076187437787,
 0.3806179165181526,
 0.41573656512548834,
 0.8799898075080087,
 0.786363910610263,
 -4.351236927423947,
 0.8844452373783233,
 0.7435262253930505,
 0.8036912250872845,
 0.8916928334292328,
 0.9786036036036029,
 0.625009316883461,
 0.48270343787875575,
 0.7593691122814752,
 0.5423877885951075,
 0.8049239503681678,
 0.5562603646194377,
 0.17085078150232844,
 0.5515240490360431,
 2,
 1.0] See paper for value of 2'''

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

def multi_run_knn_1(list):
    score_list = []
    for i in range(len(list)):
        X = list[i].drop(columns=['API','Pool_Nm','RPT_DATE', 'Dt_Treat', 'FLARED', 'VENTED', 'MCF_SOLD', 'BBLS_WTR' ])
        y = list[i].drop(columns=['API','Pool_Nm','RPT_DATE', 'Dt_Treat', 'MCF_SOLD', 'DAYS_PROD', 'BBLS_OIL_COND', 'OIL_RUNS', 'MCF_GAS'])
    
        X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = .2)
        scaler = StandardScaler()
        scaler.fit(X_train)
        X_train = scaler.transform(X_train)
        X_test = scaler.transform(X_test)

        knn = KNeighborsRegressor(n_neighbors = 1)
        classifier = MultiOutputRegressor(knn, n_jobs = -1)

        sum_score = 0
        for i in range(50): #Run 50 times to get an average score
            classifier.fit(X_train, y_train)
            i_score = classifier.score(X_test, y_test)
        sum_score += i_score

    score = sum_score/50
    score_list.append(score)

    return score_list

knn_1 = multi_run_knn_2(d_list)
knn_1
'''Returns array [0.5688257596832466,
 0.727053292684112,
 0.6177350393767604,
 0.2540630818081145,
 0.7862717999147432,
 0.33372942281187834,
 0.5150536072793843,
 0.7148412510845387,
 0.6296541088345444,
 0.678946546817861,
 0.9672562185371821,
 0.9120370370370375,
 0.5851430510458657,
 0.9762275956804083,
 -4.619248143241125,
 0.47220263546442703,
 0.5048483088665707,
 0.372894403452236,
 -2.865302924690421,
 0.4517202018517142,
 2,
 1.0] See paper for value of 2'''

In [ ]:
from sklearn.tree import DecisionTreeRegressor

def multi_run_dtc_mse(list):
    score_list = []
    for i in range(len(list)):
        X = list[i].drop(columns=['API','Pool_Nm','RPT_DATE', 'Dt_Treat', 'FLARED', 'VENTED', 'MCF_SOLD', 'BBLS_WTR' ])
        y = list[i].drop(columns=['API','Pool_Nm','RPT_DATE', 'Dt_Treat', 'MCF_SOLD', 'DAYS_PROD', 'BBLS_OIL_COND', 'OIL_RUNS', 'MCF_GAS'])
    
        X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = .2)
        scaler = StandardScaler()
        scaler.fit(X_train)
        X_train = scaler.transform(X_train)
        X_test = scaler.transform(X_test)

        dtc_mse = DecisionTreeRegressor()
        classifier = MultiOutputRegressor(dtc_mse, n_jobs = -1)

        sum_score = 0
        for i in range(50): #Run 50 times to get an average score
            classifier.fit(X_train, y_train)
            i_score = classifier.score(X_test, y_test)
            sum_score += i_score

        score = sum_score/50
        score_list.append(score)

    return score_list

dtc_mse = multi_run_dtc_mse(d_list)
dtc_mse
'''Returns array [0.6349743245204358,
 0.6845140000387384,
 0.7344100981804463,
 0.20981263074734954,
 0.9151379635405559,
 -0.423499187825443,
 -0.42422331779315764,
 0.2518507899961422,
 0.9843072702331965,
 0.6004347088642841,
 0.966828907037653,
 1.0,
 0.7193343111617204,
 0.9709855750955587,
 1.0,
 0.44983784831113227,
 0.33213751666063673,
 0.5742996890545532,
 -0.30057127534829226,
 0.49380419446536833,
 2,
 0.666666666666667] See paper for value of 2'''

In [ ]:
from sklearn.tree import DecisionTreeRegressor

def multi_run_dtc_mae(list):
    score_list = []
    for i in range(len(list)):
        X = list[i].drop(columns=['API','Pool_Nm','RPT_DATE', 'Dt_Treat', 'FLARED', 'VENTED', 'MCF_SOLD', 'BBLS_WTR' ])
        y = list[i].drop(columns=['API','Pool_Nm','RPT_DATE', 'Dt_Treat', 'MCF_SOLD', 'DAYS_PROD', 'BBLS_OIL_COND', 'OIL_RUNS', 'MCF_GAS'])
    
        X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = .2)
        scaler = StandardScaler()
        scaler.fit(X_train)
        X_train = scaler.transform(X_train)
        X_test = scaler.transform(X_test)

        dtc_mae = DecisionTreeRegressor(criterion ='mae')
        classifier = MultiOutputRegressor(dtc_mse, n_jobs = -1)

        sum_score = 0
        for i in range(50): #Run 50 times to get an average score
            classifier.fit(X_train, y_train)
            i_score = classifier.score(X_test, y_test)
            sum_score += i_score

        score = sum_score/50
        score_list.append(score)

    return score_list

dtc_mae = multi_run_dtc_mae(d_list)
dtc_mae
'''Returns array [0.7226022187842153,
0.6471157434836408,
0.6453043311580304,
2,
0.8285086955915067,
0.5173777797798154,
0.34860216873578853,
0.7488838376241039,
0.5389753968786264,
0.7009546671078946,
0.8648783983900366,
1.0,0.7381772436465354,
0.006548986531229965,
-1.0834037762738016,
0.5068015703376421,
0.7556856228401944,
0.49604231929614384,
0.40858831907106286,
0.4234659196523564,
2,
1.0] See paper for value of 2'''

In [ ]:
from sklearn.ensemble import RandomForestRegressor
def multi_run_rfr_mse(list):
    score_list = []
    for i in range(len(list)):
        X = list[i].drop(columns=['API','Pool_Nm','RPT_DATE', 'Dt_Treat', 'FLARED', 'VENTED', 'MCF_SOLD', 'BBLS_WTR' ])
        y = list[i].drop(columns=['API','Pool_Nm','RPT_DATE', 'Dt_Treat', 'MCF_SOLD', 'DAYS_PROD', 'BBLS_OIL_COND', 'OIL_RUNS', 'MCF_GAS'])
    
        X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = .2)
        scaler = StandardScaler()
        scaler.fit(X_train)
        X_train = scaler.transform(X_train)
        X_test = scaler.transform(X_test)

        rfr_mse = RandomForestRegressor()
        classifier = MultiOutputRegressor(rfr_mse, n_jobs = -1)

        sum_score = 0
        for i in range(50): #Run 50 times to get an average score
            classifier.fit(X_train, y_train)
            i_score = classifier.score(X_test, y_test)
            sum_score += i_score

        score = sum_score/50
        score_list.append(score)

    return score_list

rfr_mse = multi_run_rfr_mse(d_list)
rfr_mse
'''Returns array [0.7975728933656653,
0.7491376733914002,
0.6563816561127157,
0.577954169365711,
0.9540219957670919,
0.8569672679783986,
0.616892498731899,
-2.708699464342708,
0.7576933894471644,
0.7924890255918052,
0.9619620371249041,
1.0,
0.7110633130411644,
0.6135267841268898,
1.0,
0.5533520429148342,
0.8048702763865071,
0.6354906128795269,
0.472115589437678,
0.7297427594643265,
2,
0.6666666666666666] See paper for value of 2'''

In [ ]:
from sklearn.ensemble import RandomForestRegressor
def multi_run_rfr_mae(list):
    score_list = []
    for i in range(len(list)):
        X = list[i].drop(columns=['API','Pool_Nm','RPT_DATE', 'Dt_Treat', 'FLARED', 'VENTED', 'MCF_SOLD', 'BBLS_WTR' ])
        y = list[i].drop(columns=['API','Pool_Nm','RPT_DATE', 'Dt_Treat', 'MCF_SOLD', 'DAYS_PROD', 'BBLS_OIL_COND', 'OIL_RUNS', 'MCF_GAS'])
    
        X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = .2)
        scaler = StandardScaler()
        scaler.fit(X_train)
        X_train = scaler.transform(X_train)
        X_test = scaler.transform(X_test)

        rfr_mae = RandomForestRegressor(criterion = 'mae')
        classifier = MultiOutputRegressor(rfr_mae, n_jobs = -1)

        sum_score = 0
        for i in range(50): #Run 50 times to get an average score
            classifier.fit(X_train, y_train)
            i_score = classifier.score(X_test, y_test)
            sum_score += i_score

        score = sum_score/50
        score_list.append(score)

    return score_list

rfr_mae = multi_run_rfr_mae(d_list)
rfr_mae
'''Returns array [0.5383007401579571,
0.7780733883624369,
0.7012608293656157,
2,0.84364087848968,
0.5714991471621426,
0.36178717871898985,
0.7274068626791199,
-3.3294055242692413,
0.7662617129295092,
0.9336453092774336,
0.6666666666666666,
0.3555912625033811,
0.6144494556281996,
1.0,
0.6081516618342633,
0.8318514430070859,
0.67658763262201,
0.46320539995405596,
0.6759782628685406,
2,
1.0] See paper for value of 2'''

In [ ]:
def multi_run_nn(list):

    def get_model(n_inputs, n_outputs):
        model = Sequential()
        model.add(Dense(10, input_dim = n_inputs, kernel_initializer='he_uniform', activation='relu'))
        model.add(Dense(n_outputs))
        model.compile(loss='mae', optimizer='adam')
        return model

    r2_list_1 = []
    r2_list_2 = []
    r2_list_3 = []
    for i in range(len(list)):
        X = list[i].drop(columns=['API','Pool_Nm','RPT_DATE', 'Dt_Treat', 'FLARED', 'VENTED', 'MCF_SOLD', 'BBLS_WTR' ])
        y = list[i].drop(columns=['API','Pool_Nm','RPT_DATE', 'Dt_Treat', 'MCF_SOLD', 'DAYS_PROD', 'BBLS_OIL_COND', 'OIL_RUNS', 'MCF_GAS'])
    
        X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = .2)
        scaler = StandardScaler()
        scaler.fit(X_train)
        X_train = scaler.transform(X_train)
        X_test = scaler.transform(X_test)
        n_inputs, n_outputs = X.shape[1], y.shape[1]

        model = get_model(n_inputs, n_outputs)
        model.fit(X_train, y_train, verbose = 0, epochs = 50)
        y_pred = model.predict(X_test)
        y_pred = y_pred.round()
        y_test = np.asarray(y_test)

        r2_1 = r2_score(y_test[:,0], y_pred[:,0])
        r2_2 = r2_score(y_test[:,1], y_pred[:,1])
        r2_3 = r2_score(y_test[:,2], y_pred[:,2])
    
        r2_list_1.append(r2_1)
        r2_list_2.append(r2_2)
        r2_list_3.append(r2_3)

    return r2_list_1, r2_list_2, r2_list_3

r2_1, r2_2, r2_3 = multi_run_nn(d_list)
'''Returns 3 arrays
r2_1 = [0.07337855804275151, -0.49732436741224895, -0.1538186831645858, 0.18819403968734105, -0.1348537684107416, -0.06824171519814515, -0.45541148509334306, -0.878399252965234, -1.9340801378716073, -0.9616736375616324, -0.3252111976336485, -0.2837837837837831, -2.5041975998877395, -0.3052340625758101, -0.07130667793514145, -0.30878604637407925, -0.5268222885516274, -0.14790008911690933, -1.1800166704488753, -0.16580346378898025, 2, 1.0]
r2_2 = [-0.009347204952288468, -0.05740536230372717, -0.03605163613669893, 0.2631464332349892, 0.18441338020453324, -0.06687801771902557, -0.01648334451751121, -0.08344617716875113, 1.0, 0.08005691774380252, 1.0, 0.0, 0.0, -0.02032307127497779, 0.0, -0.0180625366708147, -0.07073782573611398, -0.22786014552510725, -0.05195127516629561, -0.20726033838688807, 2, 1.0]
r2_3 = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 2, 1.0]
See paper for value of 2'''

In [ ]:
labels = ['KNN', 'DTR', 'RFR']
vals = [0.8106289784183698,0,0.9398846155864967]
plt.bar(labels,vals)
plt.title('Comparing Unsorted Models R^2 values')
plt.xlabel('Model')
plt.ylabel('R^2 Score')

In [ ]:
x = np.arange(1,23,1)
plt.scatter(x,r2_1, label ='Neural Network')
plt.scatter(x,dtc_mse, label = 'DTR, MSE')
plt.scatter(x,dtc_mae, label = 'DTR, MAE')
plt.scatter(x,knn_1, label='KNN, 1 Neighbor')
plt.scatter(x,knn_2, label='KNN, 2 Neighbor')
plt.scatter(x, rfc_mse, label = 'RFR, MSE')
plt.scatter(x, rfc_mae, label = 'RFR, MAE')
plt.title('Comparing R^2 values for Amount of Water Used')
plt.legend()
plt.tight_layout()
plt.show()

In [ ]:
plt.scatter(x,r2_2, label ='Neural Network')
plt.scatter(x,dtc_mse, label = 'DTR, MSE')
plt.scatter(x,dtc_mae, label = 'DTR, MAE')
plt.scatter(x,knn_1, label='KNN, 1 Neighbor')
plt.scatter(x,knn_2, label='KNN, 2 Neighbor')
plt.scatter(x, rfc_mse, label = 'RFR, MSE')
plt.scatter(x, rfc_mae, label = 'RFR, MAE')
plt.title('Comparing R^2 values for Amount of Product Flared')
plt.legend()
plt.tight_layout()
plt.show()

In [ ]:
plt.scatter(x,r2_3, label ='Neural Network')
plt.scatter(x,dtc_mse, label = 'DTR, MSE')
plt.scatter(x,dtc_mae, label = 'DTR, MAE')
plt.scatter(x,knn_1, label='KNN, 1 Neighbor')
plt.scatter(x,knn_2, label='KNN, 2 Neighbor')
plt.scatter(x, rfc_mse, label = 'RFR, MSE')
plt.scatter(x, rfc_mae, label = 'RFR, MAE')
plt.title('Comparing R^2 values for Amount of Product Vented')
plt.legend()
plt.tight_layout()
plt.show()

In [ ]:
for i in range(1):
    bak_1 = r2_1[0]
    bak_2 = dtc_mae[3]
    bak_3 = rfc_mse[3]
    bak_4 = rfc_mae[3]
    bak_5 = dtc_mse[3]
    bak_6 = knn_1[3]
    bak_7 = knn_2[3]

labels = ['NN', 'DTC, MAE', 'RFR, MSE', 'RFR, MAE', 'DTC, MSE', 'KNN, 1 Neighbor', 'KNN, 2 Neighbor']
vals = [bak_1, bak_2, bak_3, bak_4, bak_5, bak_6, bak_7]
plt.figure(figsize=(12,12))
plt.bar(labels,vals)
plt.grid()
plt.title('Comparing Sorted Models R^2 values for Bakken Formation, Predicting Water Usage')
plt.xlabel('Model')
plt.ylabel('R^2 Score')

In [ ]:
for i in range(1):
    bak_1 = r2_1[1]
    bak_2 = dtc_mae[3]
    bak_3 = rfc_mse[3]
    bak_4 = rfc_mae[3]
    bak_5 = dtc_mse[3]
    bak_6 = knn_1[3]
    bak_7 = knn_2[3]

labels = ['NN', 'DTC, MAE', 'RFR, MSE', 'RFR, MAE', 'DTC, MSE', 'KNN, 1 Neighbor', 'KNN, 2 Neighbor']
vals = [bak_1, bak_2, bak_3, bak_4, bak_5, bak_6, bak_7]
plt.figure(figsize=(12,12))
plt.bar(labels,vals)
plt.grid()
plt.title('Comparing Sorted Models R^2 values for Bakken Formation, Predicting Flaring')
plt.ylabel('R^2 Score')

In [ ]:
for i in range(1):
    bak_1 = r2_1[2]
    bak_2 = dtc_mae[3]
    bak_3 = rfc_mse[3]
    bak_4 = rfc_mae[3]
    bak_5 = dtc_mse[3]
    bak_6 = knn_1[3]
    bak_7 = knn_2[3]

labels = ['NN', 'DTC, MAE', 'RFR, MSE', 'RFR, MAE', 'DTC, MSE', 'KNN, 1 Neighbor', 'KNN, 2 Neighbor']
vals = [bak_1, bak_2, bak_3, bak_4, bak_5, bak_6, bak_7]
plt.figure(figsize=(12,12))
plt.bar(labels,vals)
plt.grid
plt.title('Comparing Sorted Models R^2 values for Bakken Formation, Predicting Venting')
plt.ylabel('R^2 Score')

In [ ]:
for i in range(1):
    nn_fail = 0
    knn_1_fail = 0
    knn_2_fail = 0
    dtc_mae_fail = 0
    dtc_mse_fail = 0
    rfr_mae_fail = 0
    rfr_mse_fail = 0

    for j in range(3):
        if r2_1[j] == 2:
        nn_fail += 1

    for k in range(len(knn_1)):
        if knn_1[k] == 2:
            knn_1_fail += 1
        if knn_2[k] == 2:
            knn_2_fail += 1 
        if dtc_mae[k] == 2:
            dtc_mae_fail += 1
        if dtc_mse[k] == 2:
            dtc_mse_fail += 1
        if rfc_mae[k] == 2:
            rfr_mae_fail += 1
        if rfc_mse[k] == 2:
            rfr_mse_fail += 1

labels = ['NN', 'DTC, MAE', 'RFR, MSE', 'RFR, MAE', 'DTC, MSE', 'KNN, 1 Neighbor', 'KNN, 2 Neighbor']
vals = [nn_fail, dtc_mae_fail, rfr_mse_fail, rfr_mae_fail, dtc_mse_fail, knn_1_fail, knn_2_fail]

plt.figure(figsize=(12,12))
plt.bar(labels, vals)
plt.title('Graph comparing the number of failed/uncomputed R^2 scores per model')
plt.ylabel('Number Of Fails')

In [ ]:
for i in range(len(r2_1)):
    if r2_1[i] == 2:
        r2_1[i] = 0
sum1 = 0
for i in range(len(r2_1)):
    sum1 += r2_1[i]
sum1 = sum1/21
sum1
#Returns -0.34706185628784936

In [ ]:
for i in range(len(r2_2)):
    if r2_2[i] == 2:
        r2_2[i] = 0
sum2 = 0
for i in range(len(r2_2)):
    sum2 += r2_2[i]
sum2 = sum2/21
sum2
#Returns 0.09262681823918098

In [ ]:
for i in range(len(r2_3)):
    if r2_3[i] == 2:
        r2_3[i] = 0
sum3 = 0
for i in range(len(r2_3)):
    sum3 += r2_3[i]
sum3 = sum3/21
sum3
#Returns 0.6666666666666666

In [ ]:
for i in range(len(knn_2)):
    if knn_2[i] == 2:
        knn_2[i] = 0
sumk2 = 0
for i in range(len(knn_2)):
    sumk2 += knn_2[i]
sumk2 = sumk2/21
sumk2
#Returns 0.5257639387432165

In [ ]:
for i in range(len(knn_1)):
    if knn_1[i] == 2:
        knn_1[i] = 0
sumk1 = 0
for i in range(len(knn_1)):
    sumk1 += knn_1[i]
sumk1 = sumk1/21
sumk1
#Returns 0.21828344258567037

In [ ]:
for i in range(len(rfc_mse)):
    if rfc_mse[i] == 2:
        rfc_mse[i] = 0
sumrmse = 0
for i in range(len(rfc_mse):
    sumrmse += rfc_mse[i]
sumrmse = sumrmse/21
sumrmse
#Returns 0.5809143422596019

In [ ]:
for i in range(len(dtc_mse)):
    if dtc_mse[i] == 2:
        dtc_mse[i] = 0
sumdmse = 0
for i in range(len(dtc_mse)):
    sumdmse += dtc_mse[i]
sumdmse = sumdmse/21
sumdmse
#Returns 0.4460243534388918